@model CuaHang.Models.InvoiceDetailsInfo

<tr class="invoice-detail-row">
    @Html.HiddenFor(model => model.InvoiceDetailID)
    @Html.HiddenFor(model => model.InvoiceID)
    <td>
        @Html.DropDownListFor(model => model.ProductID, (SelectList)ViewBag.Products, "Chọn sản phẩm", new { @class = "form-control product-dropdown" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control quantity", type = "number", min = "1" })
    </td>
    <td>
        <input type="text" class="form-control unitPrice" readonly />
    </td>
    <td>
        <span class="totalPrice">0.00</span>
    </td>
    <td>
        <button type="button" class="btn btn-danger remove-row">Xóa</button>
    </td>
</tr>
