@model List<CuaHang.Models.ThongTinKhachHang>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Danh sách khách hàng";
}

<br>
<h2>Danh sách khách hàng</h2>
<a id="addCustomerButton" class='k-button' href='@Url.Action("Index", "ThemKhachHang")'>
    <span class="k-icon k-i-plus"></span>
</a>

@(Html.Kendo().Grid<CuaHang.Models.ThongTinKhachHang>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerID).Title("Mã khách hàng").Width(150);
        columns.Bound(c => c.CustomerName).Title("Tên khách hàng").Width(250);
        columns.Bound(c => c.Phone).Title("Số điện thoại").Width(150);
        columns.Command(command =>
        {
            command.Custom("Edit").Click("editCustomer").Text("Thay đổi").HtmlAttributes(new { @id = "ThayDoi", @class = "button" });
            command.Custom("Delete").Click("deleteCustomer").Text("Xóa").HtmlAttributes(new { @id = "Xoa", @class = "button" });
        }).Title("Hành động").Width(200);
    })
    .Pageable()
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(c => c.CustomerID))
        .Read(read => read.Action("GetCustomers", "KhachHang"))
        .Destroy(destroy => destroy.Action("DeleteCustomer", "KhachHang"))
    )
)

@section scripts {
    <script>
        $(document).ready(function() {
            $("#addCustomerButton").kendoButton({
                icon: "plus",
                themeColor: "primary"
            });

            $("#ThayDoi").each(function() {
                $(this).kendoButton({
                    themeColor: "info"
                });
            });

            $("#Xoa").each(function() {
                $(this).kendoButton({
                    themeColor: "error"
                });
            });
        });

        function editCustomer(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var url = '@Url.Action("Index", "ChinhSuaKhachHang", new { id = "__id__" })'.replace("__id__", dataItem.CustomerID);
            window.location.href = url;
        }

        function deleteCustomer(e) {
            e.preventDefault();
            if (confirm('Bạn có muốn xóa không')) {
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var url = '@Url.Action("Index", "XoaKhachHang", new { id = "__id__" })'.replace("__id__", dataItem.CustomerID);
                window.location.href = url;
            }
        }
    </script>
}





