@{
    ViewBag.Title = "Trang chủ";
}

<style>
    .k-button.k-primary:hover {
        background-color: inherit;
        color: inherit;
    }
</style>

<main>
    <section class="row" aria-labelledby="storeTitle">
        <h1 id="storeTitle" class="k-heading">Chào mừng bạn đến với cửa hàng</h1>
        <p class="lead k-text">Quản lý sản phẩm, khách hàng và hóa đơn của bạn một cách dễ dàng.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="productsTitle">
            <h2 id="productsTitle" class="k-heading">Sản phẩm</h2>
            <p class="k-text">Quản lý sản phẩm trong cửa hàng của bạn, bao gồm thêm sản phẩm mới, chỉnh sửa sản phẩm hiện có và xóa sản phẩm.</p>
            <p><a id="productsButton" class="k-button k-primary" href="@Url.Action("Index", "SanPham")">Quản lý sản phẩm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="customersTitle">
            <h2 id="customersTitle" class="k-heading">Khách hàng</h2>
            <p class="k-text">Quản lý khách hàng của cửa hàng, bao gồm thêm khách hàng mới, chỉnh sửa khách hàng hiện tại và xóa khách hàng.</p>
            <p><a id="customersButton" class="k-button k-primary" href="@Url.Action("Index", "KhachHang")">Quản lý khách hàng &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="invoicesTitle">
            <h2 id="invoicesTitle" class="k-heading">Hóa đơn</h2>
            <p class="k-text">Quản lý hóa đơn của cửa hàng, bao gồm tạo hóa đơn mới, chỉnh sửa hóa đơn hiện có và xóa hóa đơn.</p>
            <p><a id="invoicesButton" class="k-button k-primary" href="@Url.Action("Index", "HoaDon")">Quản lý hóa đơn &raquo;</a></p>
        </section>
    </div>
</main>

<script>
    $("#productsButton").kendoButton({
        themeColor: "info"
    });
    $("#customersButton").kendoButton({
        themeColor: "info"
    });
    $("#invoicesButton").kendoButton({
        themeColor: "info"
    });
</script>
