﻿@model List<CuaHang.Models.ThongTinSanPham>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<br>
<h2>Danh sách sản phẩm</h2>
<a id="addProductButton" class='k-button' href='@Url.Action("Index", "ThemSanPham")'>
    <span class="k-icon k-i-plus"></span>
</a>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}


@(Html.Kendo().Grid<CuaHang.Models.ThongTinSanPham>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ProductID).Title("Mã sản phẩm").Width(150);
        columns.Bound(p => p.ProductName).Title("Tên sản phẩm").Width(250);
        columns.Bound(p => p.Price).Title("Giá").Width(150);
        columns.Command(command =>
        {
            command.Custom("Edit").Click("editProduct").Text("Thay đổi").HtmlAttributes(new { @class = "k-button k-button-info" });
            command.Destroy().HtmlAttributes(new { @class = "k-button k-button-error" }).Text("Xóa bỏ");
        }).Title("Hành động").Width(200);
    })
    .Pageable()
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.ProductID))
        .Read(read => read.Action("GetProducts", "SanPham"))
        .Destroy(destroy => destroy.Action("DeleteProduct", "SanPham"))
        .Events(events => events.Error("onDataSourceError")) // Attach the error event here
    )
)

@section scripts {
    <script>
        $(document).ready(function () {
            $("#addProductButton").kendoButton({
                icon: "plus",
                themeColor: "primary"
            });

            $(".k-button-info").kendoButton({
                themeColor: "info"
            });

            $(".k-button-error").kendoButton({
                themeColor: "error"
            });
        });

        function onDataSourceError(e) {
            if (e.errors) {
                var message = "";
                for (var key in e.errors) {
                    if (e.errors[key].errors) {
                        message += e.errors[key].errors.join("\n");
                    }
                }
                alert(message); // Display the error message
            } else {
                alert("An unexpected error occurred.");
            }

            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }

        function editProduct(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var url = '@Url.Action("Index", "ChinhSuaSanPham", new { id = "__id__" })'.replace("__id__", dataItem.ProductID);
            window.location.href = url;
        }
    </script>
}